/* @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Text styling */
  font: 400 46px "Quicksand", sans-serif;
  color: #fff;
  text-align: center;
}

/* BG gradient */
html {
  background: rgb(145, 86, 224);
  background: linear-gradient(
    120deg,
    rgba(145, 86, 224, 1) 0%,
    rgba(214, 126, 154, 1) 50%,
    rgba(251, 146, 114, 1) 100%
  );
  background-attachment: fixed;
}

.calculator-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.calculator-card {
  /* max-width: 50%; */
  width: 320px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 38px 61px 66px -46px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 38px 61px 66px -46px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 38px 61px 66px -46px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* place-items: center; */
}

.first-row {
  background-color: #f5e1fd;
}

.calculator-output {
  border-radius: 15px;
  background: #fff;
  height: 120px;
  flex: 0 1 auto;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator-input-section {
  /* flex: 1 1 auto; */
  background: #f2edff;
  overflow: auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /* border: 1px solid #E1DCED; */
}

.input-row {
  display: flex;
  justify-content: space-evenly;
}

.input-row-last {
  display: flex;
}

.calculator-entered-values, .calculator-result{
    color: #111;
    text-align: right;
    padding-right: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.calculator-entered-values{
    color: #9ba3ac;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;

}


.input-btn {
  border: 0.5px solid rgba(57, 50, 58, 0.10);
  color: #111;
  font-size: 20px;
  font-weight: bold   ;
  width: 100%;
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.action-btn {
    background-color: #F9C862;
    color: #fff;
}

.last-row-first-section {
  width: 50%;
}

.last-row-second-section {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
